<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>schedule</title>

    <link rel="stylesheet" href="/public/style.css">

    <%- include('../components/$fonts.ejs') %>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('../components/$header.ejs') %>

    <div class="main flex-col">
        <h1>users</h1>
        <table>
            <tr>
                <th>username</th>
                <th>role</th>
                <th>actions</th>
            </tr>
            <tr>
                <th>user</th>
                <th>user</th>
                <th>actions thing</th>
            </tr>
        </table>
    </div>
    <div class="main flex-col">
        <h1>manage</h1>
        <a href="/api/v1/admin/refreshWeeks">> refresh all weeks from edupage</a>
        <a href="/api/v1/admin/refreshDatabase">> refresh all schedules in database (use this if database uninitialized)</a>
        <a href="/api/v1/admin/sendTestNotification">> send test websocket notification</a>
    </div>
</body>
</html>