
<%- include('../partials/$header.ejs') %>

<!-- <div class="main flex-col">
    <h1>users</h1>
    <table>
        <tr>
            <th>username</th>
            <th>role</th>
            <th>actions</th>
        </tr>
        <tr>
            <th>user</th>
            <th>user</th>
            <th>actions thing</th>
        </tr>
    </table>
</div> -->
<div class="main flex-col">
    <h1>manage</h1>
    <form action="/v2/admin/refreshWeeks" method="POST">
        <input type="submit" value="refresh all weeks from schedule">
    </form>
    <form action="/v2/admin/refreshDatabase" method="POST">
        <input type="submit" value="refresh all weeks in database">
    </form>
    <form action="/v2/admin/sendTestNotification" method="POST">
        <input type="submit" value="send test websocket notification">
    </form>
</div>
