<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>schedule</title>

    <link rel="stylesheet" href="/public/style.css">

    <%- include('../components/$fonts.ejs') %>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <%- include('../components/$header.ejs') %>

<div class="main flex-col">
        <h1>lookup teacher</h1>
        <div class="flex-row">
            <div class="flex-col">
                <div>
                    <label for="selectWeek">select week: </label>
                    <select name="selectWeek" id="selectWeek"></select>
                </div>
                <div>
                    <label for="selectTeacher">select teacher: </label>
                    <select id="selectTeacher"></select> 
                </div>
            </div>
            <div class="downloadContainer">
                <button id="downloadBtn">download</button>
            </div>
        </div>

        <div id="tableContainer"></div>
    </div>

    <script type="module">
        import { settings, setup } from "/public/js/lookup.js"
        const params = new URLSearchParams(window.location.search)

        settings.elements.week = document.getElementById('selectWeek')
        settings.elements.main = document.getElementById('selectTeacher')

        var ignore = [false, false]
        if (localStorage.getItem("lastLookupTeacher") != null) {
            settings.values.main = localStorage.getItem("lastLookupTeacher")
            ignore[1] = true
        }

        if (params.get("week") != null) {
            settings.values.week = params.get("week")
            ignore[0] = true
        }
        if (params.get("teacher") != null) {
            settings.values.main = params.get("teacher")
            ignore[1] = true
        }

        setup("teacher", ignore)
    </script>

    <!-- download schedule system -->
    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
    <script type="module" src="/public/js/download.js"></script>
</body>
</html>