
<%- include('./partials/$header.ejs') %>

<div class="main flex-col">
    <h1>schedule</h1>
    <a href="/class">lookup class</a>
    <a href="/teacher">lookup teacher</a>
    <a href="/classroom">lookup classroom</a>
</div>

<% if (typeof user !== 'undefined' && user && typeof user.permissions !== 'undefined' && user.permissions && user.permissions.includes("admin")) { %>
    <div class="main flex-col">
        <h2>special</h2>
        <a href="/admin">goto admin panel</a>
    </div>
<% } %>
