<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>schedule</title>

    <link rel="stylesheet" href="/public/style.css">

    <%- include('./components/$fonts.ejs') %>
        
</head>
<body>
    <%- include('./components/$header.ejs') %>

    <div class="main flex-col">
        <h1>login</h1>
        <form id="registerForm" action="/login" method="post" class="flex-col">
            <input type="text" name="username" id="username" placeholder="username" required>
            <input type="password" name="password" id="password" placeholder="password" required>
            <% if (dType == 'good') { %>
                <span class="c-green" id="suck"><%= dMsg %></span>
            <% } else if (dType == 'bad') { %>
                <span class="c-red" id="err"><%= dMsg %></span>
            <% } else {} %>
            <input type="submit" value="login" style="cursor: pointer;">
        </form>
    </div>
</body>
</html>