
<%- include('./partials/$header.ejs') %>

<div class="main flex-col">
    <h1>register</h1>
    <form id="registerForm" action="/register" method="post" class="flex-col">
        <input type="text" name="username" placeholder="username" required>
        <input type="password" name="password"  placeholder="password" required>
        <input type="password" name="passwordRepeat" placeholder="password again" required>
        <input type="number" name="favoriteNumber" placeholder="your favorite number" required>
        <label>
            <input type="checkbox" name="terms" id="terms" required>
            can we steal your data...?
        </label>
        <% if (dType== 'good') { %>
            <span class="c-green" id="suck"><%= dMsg %></span>
        <% } else if (dType == 'bad') { %>
            <span class="c-red" id="err"><%= dMsg %></span>
        <% } else {} %>
        <input type="submit" value="create account" style="cursor: pointer;">
    </form>
</div>

<script src="/public/js/validate.js"></script>
