<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>schedule</title>

    <link rel="stylesheet" href="/public/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="header">
        <!-- Left side / GitHub Latest Commit -->
        <div class="left">
            <div class="flex-row">
                <a href="/">home</a>
                <p class="c-orange"> // </p>
                <a href="<%= gitUrl %>"><%= gitHash %></a>
            </div>
        </div>

        <!-- Right Side / Login & Register -->
        <div class="right">
            <span class="role c-gray"></span>
            <span class="user c-yellow"></span>
            <div class="flex-row">
                <a class="c-yellow" href="/login">login</a>
                <p class="c-orange"> // </p>
                <a class="c-yellow" href="/register">register</a>
            </div>
        </div>
    </div>

    <div class="main flex-col">
        <h1>register</h1>
        <form id="registerForm" action="/register" method="post" class="flex-col">
            <input type="text" name="username" id="username" placeholder="username" required>
            <input type="password" name="password" id="pass1" placeholder="password" required>
            <input type="password" name="passwordRepeat" id="pass2" placeholder="password again" required>
            <input type="number" name="favoriteNumber" id="favNumb" placeholder="your favorite number" required>
            <label>
                <input type="checkbox" name="terms" id="terms" required>
                can we steal your data...?
            </label>
            <span>
            <% if (dType== 'good') { %>
                <span class="c-green" id="suck"><%= dMsg %></span>
            <% } else if (dType == 'bad') { %>
                <span class="c-red" id="err"><%= dMsg %></span>
            <% } else {} %>
            </span>
            <input type="submit" value="create account" style="cursor: pointer;">
        </form>
    </div>

    <script src="/public/script.js"></script>
</body>
</html>