<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>schedule</title>

    <link rel="stylesheet" href="/public/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="header">
        <!-- Left side / GitHub Latest Commit -->
        <div class="left">
            <div class="flex-row">
                <a href="/">home</a>
                <p class="c-orange"> // </p>
                <a href="<%= gitUrl %>"><%= gitHash %></a>
            </div>
        </div>

        <!-- Right Side / Login & Register -->
        <div class="right">
            <span class="role c-gray"></span>
            <span class="user c-yellow"></span>
            <div class="flex-row">
                <% if (user.loggedIn) { %>
                    <p><%= user.name %> (<%= user.role %>)</p>
                    <p class="c-orange"> // </p>
                    <a href="/logout">logout</a>
                <% } else { %>
                    <a href="/login">login</a>
                    <p class="c-orange"> // </p>
                    <a href="/register">register</a>
                <% } %>
            </div>
        </div>
    </div>

    <div class="main flex-col">
        <h1>lookup class</h1>
        <div>
            <label for="selectWeek">select week: </label>
            <select name="selectWeek" id="selectWeek"></select>
        </div>
        <div>
            <label for="selectClass">select class: </label>
            <select id="selectClass"></select> 
        </div>

        <div id="tableContainer"></div>
    </div>

    <script type="module">
        import { settings, setup } from "/public/lookup.js"

        settings.elements.week = document.getElementById('selectWeek')
        settings.elements.main = document.getElementById('selectClass')

        setup("class")
    </script>
</body>
</html>